@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* background-color: #c7dae7; */
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.map-holder {
  background-color: #ffffff;
  height: 100%;
}

.streets,
.freeways,
.arteries,
.neighborhoods {
  fill: none;
  stroke-linejoin: round;
}

.streets {
  stroke: #bdc9e1;
  stroke-width: 1px;
}

.freeways {
  stroke: #74a9cf;
  stroke-width: 4px;
}

.arteries {
  stroke: #2b8cbe;
  stroke-width: 2px;
}
.neighborhoods {
  stroke: #045a8d;
  stroke-width: 3px;
}
